<div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h3 class="title modal-title">{{title}}</h3>
            <button class="modal-close" type="button">&times;</button>
        </div>
        <div class="modal-body">
            <p class="modal-text">{{text}}</p>
        </div>
        <div class="modal-footer" id="modal-buttons-container">
        </div>
    </div>
</div>