@use '../../../app/style.scss' as *;
.btn {
    @include text(16px);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary-focus-color);
    }
    &--disabled {
        background-color: var(--standart-bg-color);
        color: var(--secondary-focus-color);
        cursor: not-allowed;
    }
    &--danger {
        background-color: var(--warning-color);
    }
    &--success {
        background-color: var(--correct-color);
    }
    &--menu {
        width: 100%;
        text-align: left;
        padding: 10px 14px;
        font-size: 0.95rem;
        border-radius: 6px;
        background-color: transparent;
        color: var(--standart-text-color);
        border: 1px solid transparent;
    }
    &--logout {
        background-image: url('/images/logout_button.svg');
        background-size: 20px 20px;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center;
    }
}