.btn {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--standart-text-color);
    font-size: 16px;
    font-family: Tahoma;
}

.btn:hover {
    background-color: var(--secondary-focus-color);
}

.btn--disabled {
    background-color: var(--standart-bg-color);
    color: var(--secondary-focus-color);
    cursor: not-allowed;
}

.btn--danger {
    background-color: var(--warning-color);
}

.btn--success {
    background-color: var(--correct-color);
}

.btn--menu {
  width: 100%;
  text-align: left;
  padding: 10px 14px;
  font-size: 0.95rem;
  border-radius: 6px;
  background-color: transparent;
  color: var(--standart-text-color);
  border: 1px solid transparent;
}

.btn--logout {
    background-image: url('/images/logout_button.svg');
    background-size: 20px 20px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}