<button class="btn btn-{{variant}} {{#if disabled}}btn--disabled{{/if}}" 
        {{#if disabled}}disabled{{/if}}
        data-component="button"
        data-testid="button-{{id}}">
    {{text}}
    {{#if loading}}
        <span class="btn__spinner"></span>
    {{/if}}
</button>