.btn {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--standart-text-color);
    font-size: 16px;
    font-family:  Tahoma;
}

.btn:hover {
    background-color: var(--secondary-focus-color);
}

.btn--disabled {
    background-color: var(--standart-bg-color) !important;
    color: var(--secondary-focus-color);
    cursor: not-allowed !important;
}