.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.input-wrapper__input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    background-color: var(--standart-bg-color);
    color: var(--standart-text-color);
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    font-family: Tahoma;
}

.input-wrapper__input--invalid {
    border-color: var(--warning-color);
}

.input-wrapper__input--valid {
    border-color: var(--correct-color);
}

.input-wrapper--confirm-password .input-wrapper__input--valid {
    border-color: var(--secondary-color);
}

.input-wrapper__error {
    display: none;
    color: var(--warning-color);
    padding: 4px 8px;
    border-radius: 4px;
}

.input-wrapper__error:not(:empty) {
    display: block;
}