<div class="pagination" data-component="pagination">
    <div class="pagination__btn-container" id="pagination-prev-container"></div>
    
    <span class="pagination__info">
        Страница <span class="pagination__current">{{currentPage}}</span> из <span class="pagination__total">{{totalPages}}</span>
    </span>
    
    <div class="pagination__btn-container" id="pagination-next-container"></div>
</div>